@media (min-width: 64em) {
  .lay-sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sidebar__main {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 2.5em;
  }
}
@media (min-width: 80em) {
  .sidebar__main {
    margin-right: 5em;
  }
}
